html, body
{
    width: 100%;
    height: 100%;
}

body
{
    margin: 0;
    overflow: hidden;
}

#background, #foreground
{
    position: absolute;
    left: 0;
    top: 0;
}

#background
{
    background-color: white;
}

#ball1, #ball2
{
    position: absolute;
    fill: red;
    r: 10px;
}

#ball0
{
    position: absolute;
    fill: black;
    r: 15px;
}

#arm1, #arm2
{
    position: absolute;
    stroke-width: 5px;
    stroke: slategray;
}
